<div id="newAnswer">
  {{#if addNewAnswer}}
  <div class="answerForm">
    <form>
      {{input value=content id="content" placeholder="Answer"}}
      {{input value=answerAuthor id="answerAuthor" placeholder="Author"}}
      <button {{action 'save'}}>Save</button>
    </form>
  </div>
  {{else}}
  <button {{action 'answerFormShow'}} class="newbtn">Answer</button>
  {{/if}}
</div>
