{{#if addNewQuestion}}
  <div class="form">
    <form>
      {{input value=content id="content" placeholder="Question"}}
      {{input value=questionAuthor id="questionAuthor" placeholder="Author"}}
      {{input value=category id="category" placeholder="Category"}}
      <button {{action 'save'}}>Save</button>
    </form>
  </div>
{{else}}
  <div class="btn-div">
    <button {{action 'questionFormShow'}} class="newbtn">Ask</button>
  </div>
{{/if}}
