<div id="newAnswer">
  {{#if addNewAnswer}}
    <div class="form">
      <form>
        {{input value=content id="content" placeholder="Answer"}}
        {{input value=answerAuthor id="answerAuthor" placeholder="Author"}}
        <button {{action 'save'}}>Save</button>
      </form>
    </div>
  {{else}}
    <div class="btn-div">
      <button {{action 'answerFormShow'}} class="newbtn">Answer</button>
    </div>
  {{/if}}
</div>
