{{#if updateQuestion}}
  <div class="form">
    <form>
      <p>
        Edit
      </p>
      {{input value=question.content id="content"}}
      {{input value=question.questionAuthor id="questionAuthor"}}
      {{input value=question.category id="category"}}
      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <div class="btn-div">
    <button {{action 'questionFormShow'}} class="editbtn">Edit</button>
  </div>
{{/if}}
